@import './tokens.css';

/* === RESET === */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* === BASE === */
html,
body {
    width: 100%;
    height: 100%;
    font-family: var(--font-family-primary);
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-regular);
    line-height: var(--font-lineheight-normal);
    color: var(--colors-text-neutral);
    background-color: var(--colors-surface-neutral-invert);
}

.main {
    width: 100%;
    height: 100%;
}

.scroll-snap {
    overflow-y: auto;
    overflow-x: hidden;
}

/* === HEADLINES === */
h1 {
    font-size: var(--font-size-2xl);
    font-weight: var(--font-weight-bold);
    line-height: var(--font-lineheight-small);
}

h2 {
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-bold);
    line-height: var(--font-lineheight-small);
}

h3 {
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-bold);
    line-height: var(--font-lineheight-normal);
}

h4 {
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-bold);
    line-height: var(--font-lineheight-normal);
}

h5 {
    font-size: var(--font-size-ml);
    font-weight: var(--font-weight-bold);
    line-height: var(--font-lineheight-normal);
}

/* === HEADER === */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 999;
    height: 80px;
    background-color: var(--colors-surface-neutral-invert);
    display: flex;
    align-items: center;
}

header.transparent {
    background-color: transparent;
    transition: background-color 0.3s ease;
}

header.visible {
    background-color: var(--colors-surface-neutral-invert);
}

/* === NAVIGATION === */
nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: var(--container-size-max-width);
    margin: 0 auto;
    padding: 0 var(--container-spacing-medium);
}


/* === NAV ELEMENTE === */
.nav-brand {
    display: flex;
    align-items: center;
    gap: var(--spacing-XS);
    margin-right: auto;
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-bold);
    line-height: var(--font-lineheight-small);
    cursor: pointer;
}

.nav-brand:hover {
    color: var(--colors-text-brand-color1);
}

.logo img {
    display: flex;
    width: 34px;
    height: 34px;
}

.nav-link,
.lang-btn,
.burger {
    cursor: pointer;
    padding: var(--spacing-S);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-s);
    color: var(--colors-text-neutral);
    background-color: unset;
    border: unset;
    transition: color 0.2s ease;
    text-decoration: none;
}

.nav-link:hover,
.lang-btn:hover,
.burger:hover {
    background-color: unset;
    color: var(--colors-text-brand-color1);
}

a:-webkit-any-link {
    background-color: unset;
    color: var(--colors-text-neutral);
    text-decoration: none;
}

.nav-link.active {
    color: var(--colors-text-brand-color1);
}

.lang-option.active {
    color: var(--colors-text-brand-color1);
}

/* === Buttons === */
button {
    font-family: var(--font-family-primary);
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-bold);
    line-height: var(--font-lineheight-normal);
    color: var(--colors-text-neutral-invert);
    border-radius: var(--radius-m);
    padding: var(--spacing-S) var(--spacing-M);
    cursor: pointer;
}

button:hover {
    background-color: var(--colors-text-brand-color1);
}



/* === BURGER & MENU === */
.nav-menu {
    display: flex;
    gap: var(--spacing-XS);
}

.burger {
    display: none;
}

.burger.active {
    transform: rotate(90deg);
}

/* === SECTIONS === */
.section {
    scroll-snap-align: start;
    scroll-snap-stop: always;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    padding-top: 80px;
}

/* Scrollbare Section muss nur Layout definieren */
.section-scrollable {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/* Innerer scrollbarer Container */
.scroll-content {
    flex: 1 1 auto;
    overflow-y: auto;

    /* Abstand für Header */
    padding-top: 80px;
    padding-bottom: var(--spacing-3XL);
    padding-left: var(--container-spacing-medium);
    padding-right: var(--container-spacing-medium);
    gap: var(--spacing-2XL);

    display: flex;
    flex-direction: column;
    align-items: center;

    /* zentrierter Content */
    margin: 0 auto;
    max-width: var(--container-size-max-width);

    /* Scrollleisten entfernen */
    scrollbar-width: none;
    -ms-overflow-style: none;
}

/* Webkit scrollbar verstecken */
.scroll-content::-webkit-scrollbar {
    display: none;
}

.max-width {
    display: flex;
    width: 100%;
    height: 100%;
    max-width: var(--container-size-max-width);
    margin: 0 auto;
    z-index: 1;
}

.right {
    justify-content: flex-end;
}

.top {
    justify-content: flex-start;
}

.center {
    justify-content: center;
}

/* === VIDEO BACKGROUND === */
.fullscreen-vid {
    position: absolute;
    inset: 0;
    z-index: 0;
    overflow: hidden;
}

.fullscreen-vid video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* === HERO TEXT === */

.hero-wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: var(--spacing-L);
    padding: var(--spacing-2XL) var(--container-spacing-medium);
}

.skills-wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: var(--spacing-L);
    padding: var(--spacing-2XL) var(--container-spacing-medium);
}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    gap: var(--spacing-XS);
    max-width: 250px;
}

/* === SKILLS & TOOLS TEXT === */

.chip-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--spacing-2XS);
}

.chip {
    position: relative;
    display: inline-flex;
    padding: var(--spacing-2XS) var(--spacing-M);
    background-color: var(--colors-surface-brand-primary);
    border-radius: var(--radius-s);
    font-size: var(--font-size-s);

    z-index: 0;
    line-height: 30px;
    overflow: hidden;
}

.chip::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: var(--fill, 0%);
    background-color: #3a3a3a;
    transition: width 0.5s ease;
    z-index: -1;
}

.no-max-width {
    max-width: unset;
}

/* === SKILLS & TOOLS TEXT === */

.project-cards-grid {
    display: grid;
    gap: var(--spacing-L);
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
}

.project-card {
    background-color: var(--colors-surface-brand-primary) !important;
    border-radius: var(--radius-m);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.project-card:hover {
    background-color: var(--primitive-colors-neutrals-mediumgray);
}

.project-image {
    width: 100%;
    max-height: 100%;
}

.project-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    backface-visibility: hidden;
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    transition: transform 0.6s ease;
    transform-style: preserve-3d;
}

/* Hover-Effekt: Zoom auf Bild */
.project-card:hover .project-image img {
    transform: scale3d(1.15, 1.15, 1.15);
}

.project-info {
    padding: var(--spacing-XL);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-M);
    align-items: flex-start;
}

.project-tags {
    background-color: var(--colors-text-neutral-invert);
    border-radius: var(--radius-m);
    display: flex;
    gap: var(--spacing-2XS);
    padding: var(--spacing-S) var(--spacing-M);
    flex: 0 auto;
}

.project-tag {
    font-size: var(--font-size-s);
}

.text-block {
    font-size: var(--font-size-s);
    font-weight: var(--font-weight-regular);
}

/* === ABOUT === */
.about-hero {
    display: flex;
    width: 100%;
    padding-top: var(--container-spacing-large);
    padding-left: var(--container-spacing-medium);
    padding-right: var(--container-spacing-medium);
    margin: 0 auto;

    gap: var(--spacing-2XL);

    max-width: var(--container-size-max-width);
}

.about-hero-image {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-flow: column;
    height: 440px;
    overflow: hidden;
    border-radius: var(--radius-m);
    flex: 1;
}

.about-hero-image img {
    max-width: 100%;
    vertical-align: middle;
}

.about-hero-text {
    display: flex;
    flex-flow: column;
    justify-content: center;
    flex: 1.25
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-3XL);
    max-width: var(--container-size-max-width);
    padding: var(--spacing-3XL) var(--container-spacing-medium);
    margin: 0 auto;
    width: 100%;
}

.two-column-list {
    display: flex;
    flex-direction: row;
    flex: 0 auto;
    justify-content: center;
    padding-left: var(--container-spacing-medium);
    padding-right: var(--container-spacing-medium);
}

.column-left {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.column-right {
    display: flex;
    flex-direction: column;
    flex: 1.5;
}

.smooth-wrapper {
    display: flex;
    flex-direction: column;
}

#experience-list {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-XL);
}

.experience-entry {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-2XS);
}

.job-meta {
    flex-flow: wrap;
    display: flex;
    font-size: var(--font-size-m);
    line-height: var(--font-lineheight-normal);
    font-weight: var(--font-weight-bold);
}

.job-company {
    display: flex;
}

.job-period {
    display: flex;
    color: #c3c3c3;
}

.job-text {
    font-size: var(--font-size-s);
    line-height: var(--font-lineheight-normal);
    display: flex;
}

/* === PROJECT HERO === */
.hero-project {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
    padding-top: 80px;
}

.hero-project-wrapper {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-2XL);
    width: 100%;
    max-width: var(--container-size-max-width);
    padding: var(--container-spacing-large) var(--container-spacing-medium);
}

.hero-project-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    gap: var(--spacing-L);
}

.hero-project-image {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-flow: column;
    height: 440px;
    overflow: hidden;
    border-radius: var(--radius-m);
    flex: 1.25;
}

.hero-project-image img {
    max-width: 100%;
    vertical-align: middle;
}

.hero-project.project1 {
    background-color: var(--colors-text-brand-color5);
}

.hero-project.project2 {
    background-color: var(--colors-text-brand-color3);
}

.hero-project.project3 {
    background-color: var(--colors-text-brand-color2);
}

/* === TEXT ANIMATION === */

.fade-left {
    opacity: 0;
    transform: translateX(-50px);
    transition: all 1.2s ease;
}

.fade-right {
    opacity: 0;
    transform: translateX(50px);
    transition: all 1.2s ease;
}

.fade-top {
    opacity: 0;
    transform: translateY(-50px);
    transition: all 1.2s ease;
}

.in-view {
    opacity: 1 !important;
    transform: translate(0) !important;
}

/* === PROJECT DETAILS === */

.details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    align-items: flex-start;
    justify-content: space-between;

    gap: var(--spacing-2XL);

    padding: var(--spacing-2XL) var(--container-spacing-medium);
}

.details-list {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-M);
    flex: 1;
}

.details-list-items {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-XS);
}

/* === PROJECT PROCESS === */

.process {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    align-items: flex-start;
    justify-content: space-between;

    gap: var(--spacing-2XL);

    padding: var(--spacing-2XL) var(--container-spacing-medium);
}

.process-list {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-M);
    flex: 1;
    align-items: center;
}

.process-list-items {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-XS);
    align-items: center;
}

.icon-circle {
    border-radius: var(--radius-xl);
    background-color: var(--colors-surface-brand-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row;
    width: 128px;
    height: 128px;
}

/* === VIDEOS === */

.youtube-wrapper {
    border-radius: var(--radius-m);
    overflow: hidden;
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    /* 16:9 Seitenverhältnis */
}

.youtube-wrapper iframe {
    border: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/* === IMAGES === */

img {
    max-width: 100%;
    display: inline-block;
}


/* === TABLET NAV === */
@media (max-width: 991px) {
    .project-cards-grid {
        grid-template-columns: 1fr;
    }

    .two-column-list {
        flex-direction: column;
    }

    .about-hero {
        flex-direction: column;
        padding-top: 80px;
    }

    .hero-project {
        height: 100%;
    }

    .hero-project-wrapper {
        flex-direction: column;
    }
}

/* === MOBILE NAV === */
@media (max-width: 768px) {
    header.nav-open {
        background-color: var(--colors-surface-brand-primary);
    }

    .burger {
        display: block;
    }

    .nav-menu {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        display: none;
        flex-direction: column;
        align-items: flex-start;
        background-color: var(--colors-surface-brand-primary);
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
        z-index: 100;
        opacity: 0;
        transform: translateY(-10px);
        transition: all 0.25s ease;
    }

    .nav-menu.open {
        display: flex;
        justify-content: center;
        text-align: center;
        opacity: 1;
        transform: translateY(0);
    }

    .section-mobile-overflow {
        overflow-y: auto;
        box-sizing: border-box;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .section-mobile-overflow::-webkit-scrollbar {
        display: none;
    }

    .hero-wrapper {
        justify-content: flex-end;
    }

    .skills-wrapper {
        justify-content: flex-start;
    }

    .hero-text {
        max-width: none;
    }

    .right {
        justify-content: unset;
    }
}