@import './tokens.css';

/* === RESET === */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* === BASE === */
html,
body {
    width: 100%;
    height: 100%;
    font-family: var(--font-family-primary);
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-regular);
    line-height: var(--font-lineheight-normal);
    color: var(--colors-text-neutral);
    background-color: var(--colors-surface-neutral-invert);
}

.main {
    width: 100%;
    height: 100%;
}

.scroll-snap {
    overflow-y: auto;
    overflow-x: hidden;
}

/* === HEADER === */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 999;
    height: 80px;
    background-color: var(--colors-surface-neutral-invert);
    display: flex;
    align-items: center;
    padding: 0 var(--container-spacing-medium);
}

/* === NAVIGATION === */
nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: var(--container-size-max-width);
    margin: 0 auto;
}

/* === NAV ELEMENTE === */
.nav-brand {
    display: flex;
    align-items: center;
    gap: var(--spacing-XS);
    margin-right: auto;
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-bold);
    line-height: var(--font-lineheight-small);
    cursor: pointer;
}

.logo img {
    width: 34px;
    height: 34px;
}

.nav-link,
.lang-btn,
.burger {
    cursor: pointer;
    padding: var(--spacing-S);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-s);
    color: var(--colors-text-neutral);
    background: none;
    border: none;
    transition: color 0.2s ease;
}

.nav-link:hover,
.lang-btn:hover,
.burger:hover {
    color: var(--colors-text-brand-color1);
}

.lang-option.active {
    color: var(--colors-text-brand-color1);
}

/* === Buttons === */
button {
    font-family: var(--font-family-primary);
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-bold);
    line-height: var(--font-lineheight-normal);
    color: var(--colors-text-neutral);
    border-radius: var(--radius-l);
}

/* === BURGER & MENU === */
.nav-menu {
    display: flex;
    gap: var(--spacing-XS);
}

.burger {
    display: none;
}

.burger.active {
    transform: rotate(90deg);
}

/* === SECTIONS === */
.section {
    scroll-snap-align: start;
    scroll-snap-stop: always;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 80px;
}

.section-overflow {
    overflow-y: auto;
    box-sizing: border-box;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE 10+ */
}

.section-overflow::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari */
}

.max-width {
    width: 100%;
    max-width: var(--container-size-max-width);
    margin: 0 auto;
    z-index: 1;
}

/* === VIDEO BACKGROUND === */
.fullscreen-vid {
    position: absolute;
    inset: 0;
    z-index: 0;
    overflow: hidden;
}

.fullscreen-vid video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* === MOBILE NAV === */
@media (max-width: 768px) {
    header.nav-open {
        background-color: var(--colors-surface-brand-primary);
    }

    .burger {
        display: block;
    }

    .nav-menu {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        display: none;
        flex-direction: column;
        align-items: flex-start;
        background-color: var(--colors-surface-brand-primary);
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
        z-index: 100;
        opacity: 0;
        transform: translateY(-10px);
        transition: all 0.25s ease;
    }

    .nav-menu.open {
        display: flex;
        justify-content: center;
        text-align: center;
        opacity: 1;
        transform: translateY(0);
    }

    .section-mobile-overflow {
        overflow-y: auto;
        box-sizing: border-box;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .section-mobile-overflow::-webkit-scrollbar {
        display: none;
    }
}